@import "_framework";
@import "_variables";
body {
  font-family: "roboto mono";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// adding colored layer
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($mainColor, 0.9);
}
.text-color {
  color: $gray;
}
.modal {
  z-index: 999999 !important;
}
.line {
  margin-top: 10px;
  margin-bottom: 30px;
  position: absolute;
  height: 2px;
  width: 70px;
  left: 47.5%;
  background-color: $mainColor;
}

%main-background {
  background: rgba(52, 131, 255, 0.75);
  background: -webkit-linear-gradient(
    -45deg,
    rgba(205, 15, 216, 0.75) 0%,
    rgba(52, 131, 255, 0.75) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(205, 15, 216, 0.75) 0%,
    rgba(52, 131, 255, 0.75) 100%
  );
  background: -moz-linear-gradient(
    -45deg,
    rgba(205, 15, 216, 0.75) 0%,
    rgba(52, 131, 255, 0.75) 100%
  );
  background: linear-gradient(
    -45deg,
    rgba(205, 15, 216, 0.75) 0%,
    rgba(52, 131, 255, 0.75) 100%
  );
}

%main-color {
  color: $mainColor;
}
%main-h1 {
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

@mixin main-background {
  background: rgba(52, 131, 255, 0.75);
  background: -webkit-linear-gradient(
    -45deg,
    rgba(205, 15, 216, 0.75) 0%,
    rgba(52, 131, 255, 0.75) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(205, 15, 216, 0.75) 0%,
    rgba(52, 131, 255, 0.75) 100%
  );
  background: -moz-linear-gradient(
    -45deg,
    rgba(205, 15, 216, 0.75) 0%,
    rgba(52, 131, 255, 0.75) 100%
  );
  background: linear-gradient(
    -45deg,
    rgba(205, 15, 216, 0.75) 0%,
    rgba(52, 131, 255, 0.75) 100%
  );
}

@font-face {
  font-family: brand;
  src: url(../fonts/Selfie_Printed.otf);
}
