$mainColor: #010329;
$secColor: #062e2e;
$thirdColor: #36d1dc;
$frthColor: #062e2e;
$fithColor: #f5f5f5;
$red: red;
$gray: gray;
$lightgray: #ddd;
$black: black;
$blue: #659ec7;
$third: #ddd;
$darkblue: #306eff;
$aqua: aqua;
$white: white;
$aqua_light: #36d1dc;
$blue_light: #5b86e5;

$min-mobilex: "(min-width: 480px)";
$max-mobilex: "(max-width: 481px)";
$min-mobile: "(min-width: 767px)";
$max-mobile: "(max-width: 768px)";
$max-medium: "(max-width: 992px)";
$min-medium: "(min-width: 991px)";
$min-large: "(min-width: 1200px)";
$max-large: "(max-width: 1201px)";
